* {
    transition: .5s;
}
header {
    position: fixed;
    top: 0px;
    
    left: 0px;
    background-color: rgba(255, 255, 255, 0.788);
    height: 40px;
    padding-left: 150px;
    z-index: 100;
    width: 100%;
}
header img{
    height: 100%;
    float: left;
}
header h1 {
    float: left;
    transform: translateY(-25px);
}
header nav {
    position: absolute;
    right: 0px;
    padding-right: 300px;
    top: 10px;
}
nav ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav li {
    float: left;
    margin-left: 10px;
}
nav li a {
    text-decoration: none;
    color: currentColor;
    border-bottom: 2px solid lightgray;
    transition: .3s;
}
nav li a:hover {
    border-bottom: 2px solid black;
    margin-bottom: -10px;
    transition: .5s;
}
main {
    margin-top: 60px;
    text-align: center;
}
.top {
    position: relative;
    height: 100%;
    min-height: 700px;
}
@media screen and (max-width: 760px) {
    header {
        padding-left: 10px;
        width: 100%;
    }
    header nav {
        display: none;
    }
    
}
.main-content {
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
}
.hero-img {
    float: left;
}
.hero-txt {
    width: 395px;
    float: right;
    text-align: left;
    transform: translate(-300px,120px);
}
.hero-txt br{
    display: none;
}

@media screen and (max-width: 1220px) {
    .hero-txt {
        transform: translate(-190px,120px);
    }
    
}
@media screen and (max-width: 1104px) {
    .hero-txt {
        transform: translate(-150px,120px);
    }
    .hero-img {
        transform: translateX(70px);
    }
    
}
@media screen and (max-width: 1042px) {
    .hero-txt {
        width: 100%;
        text-align: center;
        transform: translate(0px, -25px);
    }
    .hero-img {
        transform: none;
        float: none;
        width: 40%;
    }
    
}
@media screen and (max-width: 757px) {
    
    .hero-img {
        transform: none;
        float: none;
        width: 25%;
    }
    .hero-txt br {
        display: block;
    }
    
}
.hero {
    width: 1300px;
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.pets {
    position: relative;
    width: 100%;
    
    min-height: 600px;
    height:50%;
    background-color: rgba(255, 40, 76, 0.438);
    color: black;
    padding-top: 80px;
}
.games {
    position: relative;
    width: 100%;
    padding-top: 80px;
    min-height: 600px;
    height:50%;
    background-color: rgba(40, 115, 255, 0.438);
    color: white;
    text-align: center;
}
@media screen and (max-height: 800px){
    .pets, .games {
        height: 400px;
    }
}
#about {
    position: relative;
    width: 100%;
    height:70%;
    background-color: rgba(40, 115, 255, 0);
    color: rgb(0, 0, 0);
    padding-top: 60px;
}
#about p {
    text-align: left;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
footer {

    text-align: center;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    height: 80px;
}
.pets .item, .games .item {
    float: left;
    width: 20%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    padding-top: 20px;
    color: black;
}
.pets .item img, .games .item img {
    width: 90%;
    max-height: 90%;
}
@media screen and (max-width: 919px) {
    .pets .item, .games .item {
    height: 160px;
    transition: 1s;
    }
    .pets, .games {
        min-height: 300px;
    }
}
@media screen and (max-width: 513px) {
    .pets .item, .games .item {
    height: 79px;
    transition: 1s;
    }
}
html {
    scroll-behavior: smooth;
}

