<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/main.css' |  baseurl }}">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="/assets/js/html2canvas.min.js"></script>
    <script src="https://kit.fontawesome.com/a76afb4366.js" crossorigin="anonymous"></script>
    <script src="/assets/js/pwa.js"></script>
    <script src="{{ site.baseurl }}/assets/js/alert-box.js"></script>
    <script>
        function newbeez() {
            if (window.location.pathname == "{{site.baseurl}}/") return;
            if (window.location.pathname == "{{site.baseurl}}/newpet") return;
            if (window.location.pathname == "{{site.baseurl}}/share") return;
            if (localStorage.petname) return;
            window.location = "{{site.baseurl}}/";
        }

    </script>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://minipet.matomo.cloud/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = '//cdn.matomo.cloud/minipet.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>

    </div>
    <div class="content"><br>
        <h1><img src="/assets/img/favicon.png" height="50px" style="transform: translateY(15px);">{{page.title}}</h1>
        <hr>
        {{ content }}
    </div>
    {%include alertbox.html%}
</body>

</html>
